body {
    margin: 0;
}

.head {
    background: black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head h1 {
    color: white;
    margin-left: 50px;
}

.btn {
    height: 40px;
    background: red;
    border: 2px solid red;
    border-radius: 4%;
}



.items  {
    margin: 0 50px 0 0;
    padding: 10px 0;
    list-style: none;
}

.items a {
    text-decoration: none;
    color: white;
}
