.Contact {
    border: 5px solid black;
    display: flex;
    width: 70%;
    margin: 20px;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.Contact img {
    border: 2px solid black;
    width: 30%;
    height: 150px;
}

.Contact p {
    margin-left: 25%;
    font-size: 25px;
}
