.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.Modal img {
    width: 200px;
    height: 150px;
    border: 3px solid black;
}

.Modal p {
    text-align: center;
    font-weight: bold;
    color: blue;
    border-bottom: 1px solid blue;
}

.ModalBtn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    margin: 5px;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
.ModalBtn:hover {
    background: black;
    color: white;
}
